<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotr.trip.mapper.UserInfoMapper">

    <!--新增用户信息-->
    <insert id="saveUserInfo">
        INSERT INTO user_Info_p VALUES (
            #{userInfoId},
            #{name},
            #{gender},
            #{age},
            #{email},
            #{telephone},
            #{imgUrl},
            #{createTime,jdbcType=DATE},
            #{updateTime,jdbcType=DATE}
        )
    </insert>

</mapper>
